<div class="w-100">
    <h1 class="headerStyle">Candidate Details</h1>
    <div class="container py-2">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12" >
                    <div class="p-3">
                        <span class="fontStyle">ID: {{ candidateData.id }}</span>
                    </div>
                    <div class="p-3">
                        <span class="fontStyle">Name: {{ candidateData.name }}</span>
                    </div>
                    <div class="p-3">
                        <span class="fontStyle">Email: {{ candidateData.email }}</span>
                    </div>
                    <div class="p-3">
                        <span class="fontStyle">phone number: {{ candidateData.phone_no }}</span>
                    </div>
            </div>
        </div>
    </div>
</div>